.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #0a0a0a;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.noPetsMessage {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  color: #777;
}