:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f2f2f2 !important; 
  color: black !important;
  
  font-family: Arial, sans-serif;
  text-align: center; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header, footer, form, fieldset {
  border: 2px solid black;
  border-color: black !important;
}

header, footer {
  padding: 10px;
}

button {
  background: white;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: white !important; 
  color: black !important;
}

button:hover {
  background: black;
  color: white;
}

form {
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  padding: 20px;
  
  background-color: white !important; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

fieldset {
  margin-bottom: 20px;
  padding: 10px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-control, .inputs { 
  width: 100%;
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; 
}

textarea {
  resize: vertical;
}

img {
  border: 2px solid black;
  margin: 5px;
  width: 150px; 
  height: 150px;
  object-fit: cover; 
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.galeria img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

section {
  padding-bottom: 2rem; 
}